/* ./src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.output-color {
  background: linear-gradient(var(--angle), var(--color-1), var(--color-2));
  border-radius: 0.25rem;
  height: 150px;

  width: 100%;
}